__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
data/exports/*.xlsx
data/exports/*.csv
!data/samples/*
data/uploads/*
data/users/*/dataset.duckdb*
*.xlsx
*.csv
!data/samples/*.csv
!data/samples/*.xlsx
.DS_Store
Thumbs.db
